<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flyoverMapsEnabled</key>
	<false/>
	<key>searchEnabled</key>
	<true/>
	<key>filterEnabled</key>
	<true/>
	<key>sortEnabled</key>
	<true/>
	<key>hamburger</key>
	<true/>
	<key>asamDataSourceEnabled</key>
	<true/>
	<key>moduDataSourceEnabled</key>
	<true/>
	<key>lightDataSourceEnabled</key>
	<true/>
	<key>navWarningDataSourceEnabled</key>
	<true/>
	<key>portDataSourceEnabled</key>
	<true/>
	<key>radioBeaconDataSourceEnabled</key>
	<true/>
	<key>differentialGPSStationDataSourceEnabled</key>
	<true/>
	<key>dfrsDataSourceEnabled</key>
	<false/>
	<key>epubDataSourceEnabled</key>
	<true/>
	<key>ntmDataSourceEnabled</key>
	<true/>
	<key>forceReloadDate</key>
	<date>2022-10-10T16:12:04Z</date>
	<key>metricsEnabled</key>
	<false/>
</dict>
</plist>
