<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showOnMaplight</key>
	<true/>
	<key>showOnMapmodu</key>
	<true/>
	<key>showOnMapasam</key>
	<true/>
	<key>showOnMapport</key>
	<true/>
	<key>showOnMapradioBeacon</key>
	<true/>
	<key>showOnMapdifferentialGPSStation</key>
	<true/>
	<key>showOnMapdfrs</key>
	<true/>
	<key>asamOrder</key>
	<integer>0</integer>
	<key>moduOrder</key>
	<integer>1</integer>
	<key>lightOrder</key>
	<integer>2</integer>
	<key>navWarningOrder</key>
	<integer>4</integer>
	<key>portOrder</key>
	<integer>5</integer>
	<key>radioBeaconOrder</key>
	<integer>6</integer>
	<key>differentialGPSStationOrder</key>
	<integer>7</integer>
	<key>dfrsOrder</key>
	<integer>8</integer>
	<key>userTabs</key>
	<integer>3</integer>
</dict>
</plist>
